{% extends 'AppBundle::layout.html.twig' %}

{% macro printCategory(category) %}
    <span class="zvjezdice">
        {% if category != null %}
            {% for i in 1..category -%}
                *
            {%- endfor %}
        {% endif %}
    </span>
{% endmacro printCategory %}
{% macro printPrice(price) %}
    <div class="cijena">Price: <span class="red">{{ price }} €</span></div>
{% endmacro %}

{% import _self as helper %}

{% block content %}

    <h1>{{ accommodation.name }}</h1>

    <div class="col-2-wrapper">
        <div class="col-2 white kartica">
            <img src="{{ path('AppBundle_Accommodation_mainImage', {'accommodationId': accommodation.id}) }}"
                    alt="Apartment image" />
        </div>
        <div class="col-2">
            {{ helper.printCategory(accommodation.category) }}
            <p>Location: {{ accommodation.place.name }}</p>
            <p>
                {{ accommodation.description }}
            </p>
            {{ helper.printPrice(accommodation.pricePerDay) }}

            <div class="kalendarWrap">
                <div id="monthCalendar">
                    {{ include('AppBundle:Accommodation:calendar.html.twig', {
                        'month': 7,
                        'year': 'now'|date('Y'),
                        'reservedDates': reservedDates,
                    }, with_context = false) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/calendar.js') }}"></script>
    <script type="text/javascript">
    /* <![CDATA[ */
       var accommodationId = "{{accommodation.id}}",
            urlCalendar = "{{ path('AppBundle_Accommodation_accommodation_changeCalendar', {
                'accommodationId': '__UNITID__',
                'month': '__DATE_MONTH__',
                'year': '__DATE_YEAR__'
            })|e('js') }}"

        calendar.init({
            'accommodationId': accommodationId,
            'urlCalendar': urlCalendar,
            'monthPrevious': '#prevMonth',
            'monthNext': '#nextMonth',
            'monthChange': '.changeMonth',
            'calendarDivId': '#monthCalendar',
        });
    /* ]]> */
    </script>
{% endblock javascripts %}
