{% extends 'AppBundle::layout.html.twig' %}

{% macro printCategory(category) %}
    <span class="zvjezdice">
        {% if category != null %}
            {% for i in 1..category -%}
                *
            {%- endfor %}
        {% endif %}
    </span>
{% endmacro printCategory %}
{% macro printPrice(price) %}
    <div class="cijena">Price: <span class="red">{{ price }} €</span></div>
{% endmacro %}

{% import _self as helper %}

{% block content %}

    <h1>{{ accommodation.name }}</h1>

    <div class="col-2-wrapper">
        <div class="col-2 white kartica">
            <img src="{{ path('AppBundle_Accommodation_mainImage', {'accommodationId': accommodation.id}) }}"
                    alt="Apartment image" />
        </div>
        <div class="col-2">
            {{ helper.printCategory(accommodation.category) }}
            <p>Location: {{ accommodation.place.name }}</p>
            <p>
                {{ accommodation.description }}
            </p>
            {{ helper.printPrice(accommodation.pricePerDay) }}

            <div class="kalendarWrap">
                {% if month != 1 %}
                    <a href="{{ url('AppBundle_Accommodation_accommodation', {
                    'accommodationId': accommodation.id,
                    'month' : month - 1,
                    'year' : year }) }}">
                {% endif %}
                {% if month == 1 %}
                    <a href="{{ url('AppBundle_Accommodation_accommodation', {
                    'accommodationId': accommodation.id,
                    'month' : 12,
                    'year' : year - 1 }) }}">
                {% endif %}
                    <div class="arrowPrev"></div>
                </a>

                {% if month != 12 %}
                    <a href="{{ url('AppBundle_Accommodation_accommodation', {
                        'accommodationId': accommodation.id,
                        'month' : month + 1,
                        'year' : year }) }}">
                {% endif %}
                {% if month == 12 %}
                    <a href="{{ url('AppBundle_Accommodation_accommodation', {
                    'accommodationId': accommodation.id,
                    'month' : 1,
                    'year' : year + 1 }) }}">
                {% endif %}
                    <div class="arrowNext"></div>
                </a>
                <table class="kalendar">
                    <caption>{{ getMonthName(month) }}</caption>
                    <thead>
                        <tr>
                            <th>Po</th>
                            <th>Ut</th>
                            <th>Sr</th>
                            <th>Če</th>
                            <th>Pe</th>
                            <th class="weekend">Su</th>
                            <th class="weekend">Ne</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for day in generateDatesForMonth(month , year) %}
                            {% if loop.index % 7 == 1 %}<tr>{% endif %}
                                <td class="{{ getDayClass(day, reservedDates) }}">{{ day.format('d') }}</td>
                            {% if loop.index % 7 == 0 %}</tr>{% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

{% endblock %}
