{% extends 'AppBundle::layout.html.twig' %}

{% import 'AppBundle:Accommodation:accommodation.html.twig' as helper %}

{% block content %}
    <h1>Unos smještaja</h1>

    {{ form_start(form) }}
        {#
            Za više informacija o flash porukama vidjeti: https://symfony.com/doc/current/controller.html#flash-messages
         #}
        {% if app.request.hasPreviousSession %}
            {% for flashMessage in app.session.flashBag.get('notice') %}
                <div class="free">
                    {{ flashMessage }}
                </div>
            {% endfor %}
        {% endif %}
        {{ form_row(form.name, {'label' : 'Ime smještaja'}) }}
        {{ form_row(form.pricePerDay, {'label' : 'Cijena po danu'}) }}
        {{ form_row(form.category, {'label' : 'Kategorija'}) }}
        {{ form_row(form.place, {'label' : 'Mjesto'}) }}
        <input type="submit" value="Dodaj smještaj">
    {{ form_end(form) }}
{% endblock content %}